#include "winres.h"

100 DIALOGEX 0, 0, 210, 48
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | CS_HREDRAW | CS_VREDRAW
CAPTION "Test Window"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
END
